<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" data-ng-app="authBoxApp">
<head>
    <title>AuthBox Registration</title>
    <google-analytics th:replace="_google_analytics :: _google_analytics" th:remove="tag"></google-analytics>
    <favicon th:replace="_favicon :: _favicon" th:remove="tag"></favicon>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" href="/webjars/angularjs/angular-csp.css"/>
    <inline-style th:replace="_inline-style :: _inline-style" th:remove="tag"></inline-style>
</head>
<body data-ng-controller="authBoxAppController">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">AuthBox</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link">&nbsp;</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sign-in.html">Sign in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/register.html">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/temesoft/auth-box" target="newWindow">GitHub Project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/temesoft/auth-box/issues" target="newWindow">Support</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3"><img src="/img/oauth2.png" alt="OAuth2 logo" height="100"/> AuthBox Registration</h1>
        </div>
    </div>

    <div class="container">
        <main class="form-signin">
            <form>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="registration.username"><strong>Username</strong></label>
                        <input data-ng-model="registration.username" type="text" class="form-control required" id="registration.username"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="registration.name"><strong>Name</strong></label>
                        <input data-ng-model="registration.name" type="text" class="form-control required" id="registration.name"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="registration.password"><strong>Password</strong></label>
                        <input data-ng-model="registration.password" type="password" class="form-control" id="registration.password"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="registration.password2"><strong>Password one more time</strong></label>
                        <input data-ng-model="registration.password2" type="password" class="form-control" id="registration.password2"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="registration.organizationName"><strong>Organization name</strong></label>
                        <br/>
                        <input data-ng-model="registration.organizationName" type="text" class="form-control" id="registration.organizationName"  data-ng-change="updateOrganizationName()"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 mb-3">
                        <label for="registration.logoUrl"><strong>Logo URL <small class="muted">(optional, square image preferred)</small></strong></label>
                        <br/>
                        <input data-ng-model="registration.logoUrl" type="text" class="form-control" id="registration.logoUrl"/>
                    </div>
                    <div data-ng-if="registration.logoUrl" class="col-md-3 mb-3">
                        <img data-ng-src="{{registration.logoUrl}}" width="128" height="128" alt="logo url" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="registration.domainPrefix">
                            <strong>Domain prefix: </strong>
                            <code>https://{{registration.domainPrefix}}.<span th:text="${appProperties.domain}"></span></code>
                        </label>
                        <br/>
                        <input data-ng-model="registration.domainPrefix" type="text" class="form-control" id="registration.domainPrefix" data-ng-change="validateDomainPrefix()"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <span class="text-danger">{{errorMessage}}</span>
                    </div>
                </div>
                <button id="registerBtn" class="w-100 btn btn-lg btn-primary" type="button" data-ng-click="register()">Register</button>
            </form>

            <form method="post" th:action="@{/login}" id="loginForm">
                <input type="hidden" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
                <input type="hidden" id="password" name="password" class="form-control" placeholder="Password" required>
            </form>
        </main>
    </div>
</main>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/angularjs/angular.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="/webjars/angular-ui-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script>

    function buttonLoading(querySelector) {
        $(querySelector).prop("disabled", true);
        $(querySelector).attr("original-text", $(querySelector).html());
        $(querySelector).attr("button-loading-state", "on");
        $(querySelector).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> processing...');
    }

    function buttonReset() {
        const querySelector = $("[button-loading-state='on']");
        $(querySelector).prop("disabled", false);
        $(querySelector).html($(querySelector).attr("original-text"));
    }

    angular.module("authBoxApp", []).controller("authBoxAppController", function($scope, $http) {
        $scope.registration = {"domainPrefix":"testing"};
        $scope.errorMessage = null;

        $scope.updateOrganizationName = function() {
            $scope.registration.domainPrefix = $scope.registration.organizationName.replace(/[^a-z0-9]/gi,'').toLowerCase();
        };

        $scope.validateDomainPrefix = function() {
            var letterNumber = /^[0-9a-z]+$/;
            if ($scope.registration.domainPrefix.match(letterNumber)) {
                $scope.registration.domainPrefix = $scope.registration.domainPrefix.trim();
                return;
            } else {
                $scope.registration.domainPrefix = $scope.registration.domainPrefix.replace(/[^a-z0-9]/gi,'').toLowerCase().trim();
            }
        };

        $scope.register = function() {
            $scope.errorMessage = null;
            buttonLoading("#registerBtn");
            $http({
                method: 'POST',
                url: '/registration',
                data: $scope.registration
            }).then(
                function success(response) {
                    $("#username").val(response.data.username);
                    $("#password").val($scope.registration.password);
                    $("#loginForm").submit();
                },
                function failure(response) {
                    buttonReset();
                    if (response.status == 403) {
                        $scope.errorMessage = "Access denied";
                    } else {
                        $scope.errorMessage = response.data.message;
                        console.log(response.data.timestamp + ": " + response.data.message + " " + response.data.error);
                    }
                }
            );
        };
    });
</script>

</body>
</html>