<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MMM-dd HH:mm:ss.SSS'Z',GMT} level=%p thread=%thread %-40.40logger{39} %replace(%mdc){', ', ' '} %m%n</pattern>
        </encoder>
    </appender>

    <root level="${root.log.level:-ERROR}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>