<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" data-ng-app="authBoxWeb">
<head>
    <title>AuthBox Management Panel</title>
    <google-analytics th:replace="_google_analytics :: _google_analytics" th:remove="tag"></google-analytics>
    <favicon th:replace="_favicon :: _favicon" th:remove="tag"></favicon>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" href="/webjars/angularjs/angular-csp.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.min.css" integrity="sha512-qx6VN+/Hr2aH12rxk9dxHQx48fzZgJbcdCm8Ig0dXh48AHoFUs2ldKfBA5gqhfPqvFtCaeaawUoF51qb00oAfg==" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap4-toggle/3.6.1/bootstrap4-toggle.min.css" integrity="sha512-EzrsULyNzUc4xnMaqTrB4EpGvudqpetxG/WNjCpG6ZyyAGxeB6OBF9o246+mwx3l/9Cn838iLIcrxpPHTiygAA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" />
    <link href="/css/dashboard.css" rel="stylesheet">
</head>
<body data-ng-controller="mainController">

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 ng-cloak" href="#">
        <span data-ng-if="loggedInOrganization.logoUrl != null && loggedInOrganization.logoUrl != ''">
            <img data-ng-src="{{loggedInOrganization.logoUrl}}" width="30" height="30" class="center ng-cloak" alt="Logo"
                 style="background-color:white; border-radius: 2px; border: 2px solid #222; margin-right:6px" />
        </span>
        AuthBox</a>
    <span class="w-100 p-3 text-right text-muted ng-cloak">
        Organization: <span class="text-white">{{loggedInOrganization.name}}</span>
        &nbsp; User: <span class="text-white">{{loggedInAccount.name}}</span>
        &nbsp; Role:
        <span data-ng-repeat="role in loggedInAccount.roles">
            <span class="badge badge-info m-1" data-ng-if="role.indexOf('ROLE_USER') >= 0" title="Read only access">User</span>
            <span class="badge badge-warning m-1" data-ng-if="role.indexOf('ROLE_ADMIN') >= 0" title="Full access">Admin</span>
            &nbsp; &nbsp;
        </span>
    </span>
    <ul class="navbar-nav px-3">

        <li class="nav-item text-nowrap">
            <a class="nav-link text-bold" href="/logout">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar position-fixed">
            <div class="sidebar-sticky" style="position: fixed">
                <ul class="nav flex-column">
                    <li class="nav-item ng-cloak">
                        <a class="nav-link text-bold" href="#!/organization" data-ng-class="{'active':getRoute() === 'organization.html'}">
                            <span data-feather="home"></span>
                            <i class="fas fa-building fa-fw"></i> Organization <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item ng-cloak" data-ng-if="loggedInAccount.admin">
                        <a class="nav-link text-bold" href="#!/accounts" data-ng-class="{'active':getRoute() === 'accounts.html'}">
                            <span data-feather="archive"></span>
                            <i class="fas fa-user-friends fa-fw"></i> Accounts
                        </a>
                    </li>
                    <li class="nav-item ng-cloak">
                        <a class="nav-link text-bold" href="#!/account" data-ng-class="{'active':getRoute() === 'account.html'}">
                            <span data-feather="settings"></span>
                            <i class="fas fa-user-cog fa-fw"></i> Account Settings
                        </a>
                    </li>
                    <li class="nav-item ng-cloak">
                        <hr/>
                        <a class="nav-link text-bold" href="#!/oauth2-clients" data-ng-class="{'active':getRoute() === 'oauth2-clients.html'}">
                            <span data-feather="archive"></span>
                            <i class="fas fa-map-signs fa-fw"></i> Oauth2 Clients
                        </a>
                    </li>
                    <li class="nav-item ng-cloak">
                        <a class="nav-link text-bold" href="#!/oauth2-scopes" data-ng-class="{'active':getRoute() === 'oauth2-scopes.html'}">
                            <span data-feather="archive"></span>
                            <i class="fas fa-paperclip fa-fw"></i> Oauth2 Scopes
                        </a>
                    </li>
                    <li class="nav-item ng-cloak">
                        <a class="nav-link text-bold" href="#!/oauth2-users" data-ng-class="{'active':getRoute() === 'oauth2-users.html'}">
                            <span data-feather="users"></span>
                            <i class="fas fa-user-lock fa-fw"></i> Oauth2 Users
                        </a>
                    </li>
                    <li class="nav-item ng-cloak">
                        <a class="nav-link text-bold" href="#!/oauth2-tokens" data-ng-class="{'active':getRoute() === 'oauth2-tokens.html'}">
                            <span data-feather="users"></span>
                            <i class="fas fa-key fa-fw"></i> Oauth2 Tokens
                        </a>
                    </li>
                    <li class="nav-item ng-cloak">
                        <a class="nav-link text-bold" href="#!/oauth2-client-curl-examples" data-ng-class="{'active':getRoute() === 'oauth2-client-curl-examples.html'}">
                            <span data-feather="users"></span>
                            <i class="fas fa-info-circle"></i> Oauth2 curl examples
                        </a>
                    </li>
                    <li class="nav-item ng-cloak">
                        <a class="nav-link text-bold" href="#!/access-log" data-ng-class="{'active':getRoute() === 'access-log.html'}">
                            <span data-feather="access-log"></span>
                            <i class="fas fa-stream"></i> Request Log
                        </a>
                    </li>
                    <li class="nav-item ng-cloak">
                        <hr/>
                        <a class="nav-link text-bold" href="{{appProperties.protocol}}://{{loggedInOrganization.domainPrefix}}.{{appProperties.domain}}/swagger-ui/index.html"
                            target="newWindowAPI">
                            <span data-feather="access-log"></span>
                            <i class="fas fa-info-circle"></i> Oauth2 Server API
                        </a>
                    </li>
                    <li class="nav-item ng-cloak">
                        <a class="nav-link text-bold" href="{{appProperties.protocol}}://{{appProperties.domain}}/swagger-ui/index.html"
                           target="newWindowAPI">
                            <span data-feather="access-log"></span>
                            <i class="fas fa-info-circle"></i> Management API
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 ng-cloak" data-ng-view="data-ng-view">
            loading...
        </main>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="secretDisplayModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body text-center bold">
                <!-- will be filled runtime -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="areYouSureModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 id="warningMessage">You are about to do something</h4>
                <br/>
                <h5 class="text-center">Are you sure?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="applyChangesBtn" data-ng-click="areYouSureApply()">Apply changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/angularjs/angular.min.js"></script>
<script src="/webjars/popper.js/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="/webjars/angular-ui-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/webjars/angularjs/angular-route.min.js"></script>
<script src="/webjars/momentjs/min/moment.min.js"></script>
<script src="/webjars/angular-moment/angular-moment.min.js"></script>
<script src="/webjars/bootstrap4-toggle/js/bootstrap4-toggle.min.js"></script>
<script src="/webjars/jquery-cookie/jquery.cookie.js"></script>
<script src="/webjars/angular-toastr/angular-toastr.min.js"></script>
<script src="/webjars/angular-toastr/angular-toastr.tpls.min.js"></script>
<script src="/webjars/select2/js/select2.min.js"></script>

<script type='text/javascript' src='/js/utils.js'></script>
<script type='text/javascript' src='/js/application.js'></script>
<script type='text/javascript' src='/js/organization-controller.js'></script>
<script type='text/javascript' src='/js/account-controller.js'></script>
<script type='text/javascript' src='/js/oauth2-clients-controller.js'></script>
<script type='text/javascript' src='/js/oauth2-scopes-controller.js'></script>
<script type='text/javascript' src='/js/add-oauth2-client-controller.js'></script>
<script type='text/javascript' src='/js/edit-oauth2-client-controller.js'></script>
<script type='text/javascript' src='/js/oauth2-client-curl-examples-controller.js'></script>
<script type='text/javascript' src='/js/oauth2-users-controller.js'></script>
<script type='text/javascript' src='/js/oauth2-tokens-controller.js'></script>
<script type='text/javascript' src='/js/accounts-controller.js'></script>
<script type='text/javascript' src='/js/add-account-controller.js'></script>
<script type='text/javascript' src='/js/access-log-controller.js'></script>

<script th:inline="javascript">
    const appProperties = [[${appProperties}]];
</script>
</body>
</html>
