<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 _border-bottom ng-cloak">
    <h2><i class="fas fa-user-lock fa-fw text-muted"></i> Oauth2 Users
        <a class="btn btn-sm btn-outline-primary" href="#!/add-oauth2-user"><i class="far fa-plus-square"></i> Add new user</a>
    </h2>
    <div class="btn-toolbar mb-2 mb-md-0" data-ng-if="oauth2Users">
        <nav aria-label="Page navigation" class="m-1" data-ng-if="oauth2Users.page.totalElements > 0 && oauth2Users.page.totalElements > pageSize">
            <ul class="pagination">
                <li class="page-item disabled" data-ng-if="oauth2Users.page.number == 0">
                    <a class="page-link">Previous</a>
                </li>
                <li class="page-item cursor-pointer" data-ng-if="oauth2Users.page.number > 0">
                    <a class="page-link" data-ng-click="loadOauth2Users(oauth2Users.page.size, oauth2Users.page.number-1)">Previous</a>
                </li>

                <li class="page-item" data-ng-repeat="n in paginationRange(1, oauth2Users.page.totalPages, oauth2Users.page.number + 1)">
                    <span data-ng-if="oauth2Users.page.number + 1 == n" class="page-link bg-secondary white">
                        <strong class="">{{n}}</strong>
                    </span>
                    <a data-ng-if="oauth2Users.page.number + 1 != n" class="page-link cursor-pointer" data-ng-click="loadOauth2Users(oauth2Users.page.size, n-1)">{{n}}</a>
                </li>

                <li class="page-item disabled" data-ng-if="oauth2Users.page.number + 1 == oauth2Users.page.totalPages">
                    <a class="page-link">Next</a>
                </li>
                <li class="page-item cursor-pointer" data-ng-if="oauth2Users.page.number + 1 != oauth2Users.page.totalPages">
                    <a class="page-link" data-ng-click="loadOauth2Users(oauth2Users.page.size, oauth2Users.page.number + 1)">Next</a>
                </li>
            </ul>
        </nav>
        <div>
            <div class="input-group m-1">
                <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                >Page size {{pageSize}}</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" data-ng-click="loadOauth2Tokens(10, 0)">10</a>
                    <a class="dropdown-item" data-ng-click="loadOauth2Tokens(25, 0)">25</a>
                    <a class="dropdown-item" data-ng-click="loadOauth2Tokens(100, 0)">100</a>
                    <a class="dropdown-item" data-ng-click="loadOauth2Tokens(500, 0)">500</a>
                </div>
            </div>
        </div>
        <div class=" m-1">
            <button class="btn btn-sm btn-outline-primary" data-ng-if="checkIfOneSelected()" data-ng-click="editSelectedUser()"
                ><i class="far fa-edit"></i> Edit</button>
            <button class="btn btn-sm btn-outline-danger" data-ng-if="checkIfAnySelected()" data-ng-click="deleteSelectedUsers()"
                ><i class="far fa-trash-alt"></i> Delete</button>
        </div>
    </div>
</div>

<div class="col-md-12 order-md-1 ng-cloak">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th class="pl-3">
                    <input type="checkbox" name="selectAll" id="selectAll" data-ng-click="selectAll()" />
                </th>
                <th>Username</th>
                <th>Status</th>
                <th>Created</th>
                <th>Last updated</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="oauth2User in oauth2Users.content">
                <td class="pl-3">
                    <input type="checkbox" aria-label="Checkbox for following text input"
                           name="userSelectorCheckbox"
                           data-ng-model="userSelectorCheckbox"
                           data-user-id="{{oauth2User.id}}"
                    />
                </td>
                <td>
                    <a class="btn btn-link btn-xs" data-ng-click="location.url('/edit-oauth2-user/' + oauth2User.id)"
                        >{{oauth2User.username}}</a>

                    <a class="btn btn-xs btn-outline-secondary float-right m-1 p-1" data-ng-click="passwordResetModal(oauth2User)"
                        ><i class="fas fa-unlock-alt"></i> password reset</a>

                    <a class="btn btn-xs btn-outline-secondary float-right m-1 p-1"
                        data-ng-click="location.url('/oauth2-tokens/user/' + oauth2User.id)"
                        ><i class="fas fa-key"></i> tokens</a>
                </td>
                <td>
                    <input type="checkbox" name="enableDisableUsersCheckbox"
                           data-ng-model="oauth2User.enabled" data-toggle="toggle" data-size="xs"
                           data-ng-change="enableDisableUsers(oauth2User.enabled, oauth2User.id)"
                           data-on="Enabled" data-off="Disabled">
                </td>
                <td>
                    {{oauth2User.createTime | amDateFormat:'YYYY-MM-DD HH:mm:ss' }}
                    <i class="text-muted">
                        (<small data-am-time-ago="oauth2User.createTime"></small>)
                    </i>
                </td>
                <td>
                    {{oauth2User.lastUpdated | amDateFormat:'YYYY-MM-DD HH:mm:ss' }}
                    <i class="text-muted">
                        (<small data-am-time-ago="oauth2User.lastUpdated"></small>)
                    </i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="passwordResetModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Reset password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <code>Please leave passwords blank to set random password</code>
                        <hr/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="password1">New password</label>
                        <input data-ng-model="password.newPassword" type="password" class="form-control required" id="password1"
                               placeholder="New password" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="password2">New password (verify)</label>
                        <input data-ng-model="password.newPassword2" type="password" class="form-control required" id="password2"
                               placeholder="New password (verify)" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-primary" data-ng-click="passwordReset()">Save changes</button>
            </div>
        </div>
    </div>
</div>